@{
   course obj = new course();

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

       @{
     /*      obj.setID("1");

 <h1>@obj.course_name</h1>
<h1>@obj.course_duration</h1>
<h1>@obj.course_grade</h1>
<h1>@obj.course_department</h1>
<h1>about : @obj.course_about</h1>
 <h1>prof: @obj.course_prof</h1>
        <h1>course lab = @obj.course_location</h1>
<h1>course_map = @obj.course_map_link</h1>
        <h1>course begins = @obj.course_begin_time</h1>
<h1>course ends = @obj.course_end_time</h1>
<h1>course day = @obj.course_day</h1>*/


Courses o = new Courses("4","1","9");
foreach(course ob in o.objs_list){
    
    <h1>@ob.course_name</h1>
<h1>@ob.course_duration</h1>
<h1>@ob.course_grade</h1>
<h1>@ob.course_department</h1>
<h1>about : @ob.course_about</h1>
 <h1>prof: @ob.course_prof</h1>
        <h1>course lab = @ob.course_location</h1>
<h1>course_map = @ob.course_map_link</h1>
        <h1>course begins = @ob.course_begin_time</h1>
<h1>course ends = @ob.course_end_time</h1>
<h1>course day = @ob.course_day</h1>
}
       }

        <h1>date now : @DateTime.Now.Hour</h1>
         
      
        
    </body>
</html>
